a {
    text-decoration: none;
    color: inherit !important;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
.percanav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
    border-top: solid 1px;
}